@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-y-auto overflow-x-hidden;
	scroll-behavior: 'smooth';
}

/* NOTE: set your target theme name (ex: skeleton, wintry, modern, etc) */

:root [data-theme='agentboost-theme'] {
	--theme-font-family-base: 'Sequel Sans';
	--theme-font-family-heading: 'Sequel Sans';
	/* ... */
}

body::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 16px;
	box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
body::-webkit-scrollbar-track {
	background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111) !important;
}

body {
	font-family: 'Inter', 'Made-Evolve';
}

@font-face {
	font-family: 'Made-Evolve-Evo';
	font-weight: 200;
	src: url('/fonts/made_evolve/made_evolve_sans_thin_evo-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve-Evo';
	font-weight: 300;
	src: url('/fonts/made_evolve/made_evolve_sans_light_evo-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve-Evo';
	font-weight: 400;
	src: url('/fonts/made_evolve/made_evolve_sans_regular_evo-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve-Evo';
	font-weight: 600;
	src: url('/fonts/made_evolve/made_evolve_sans_medium_evo-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve-Evo';
	font-weight: 700;
	src: url('/fonts/made_evolve/made_evolve_sans_bold_evo-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve';
	font-weight: 200;
	src: url('/fonts/made_evolve/made_evolve_sans_thin-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve';
	font-weight: 300;
	src: url('/fonts/made_evolve/made_evolve_sans_light-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve';
	font-weight: 400;
	src: url('/fonts/made_evolve/made_evolve_sans_regular-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve';
	font-weight: 500;
	src: url('/fonts/made_evolve/made_evolve_sans_medium-webfont.woff2');
}

@font-face {
	font-family: 'Made-Evolve';
	font-weight: 700;
	src: url('/fonts/made_evolve/made_evolve_sans_bold-webfont.woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: url('/fonts/inter/static/Inter-Thin.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: url('/fonts/inter/static/Inter-Light.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: url('/fonts/inter/static/Inter-Regular.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: url('/fonts/inter/static/Inter-Medium.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: url('/fonts/inter/static/Inter-SemiBold.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: url('/fonts/inter/static/Inter-Bold.ttf');
}
