html,
body {
  @apply h-full;
  scroll-behavior: 'smooth';
}

body {
  font-family: 'Made-Evolve', 'Made-Evolve-Evo';
}

@font-face {
  font-family: 'Made-Evolve-Evo';
  font-weight: 200;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_thin_evo-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve-Evo';
  font-weight: 300;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_light_evo-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve-Evo';
  font-weight: 400;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_regular_evo-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve-Evo';
  font-weight: 600;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_medium_evo-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve-Evo';
  font-weight: 700;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_bold_evo-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve';
  font-weight: 200;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_thin-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve';
  font-weight: 300;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_light-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve';
  font-weight: 400;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_regular-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve';
  font-weight: 600;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_medium-webfont.woff2');
}

@font-face {
  font-family: 'Made-Evolve';
  font-weight: 700;
  src: url('$lib/assets/fonts/made_evolve/made_evolve_sans_bold-webfont.woff2');
}
